* {
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
  background-color: #999999;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: #000000;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 0px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.modules {
  margin: 60px 40px;
  padding-top: 50px;
  padding-left: 30px;
}

.modules p, ul {
  font-size: 28px;
  font-weight: normal;
  color: white;
  font-family: sans-serif;
}

.example {
  margin-top: 15px;
  font-size: 28px;
}

.next {
  position: absolute;
  bottom: 85%;
  left: 90%;
  font-size: 25px;
  font-family: serif;
  font-style: italic;
}
/* Modal  */
/* Modal is not visible by default. Modal become visible by changing the display property */

.modal {
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  background-color: rgba(246, 49, 7, 0.4);
  padding: 20px 0px 30px;
  border-radius: 10px;
  height: 60%;
  text-align: center;
}

.modal h3{
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  font-size: 44px;
  font-family: monospace;
  font-weight: bolder;
  text-decoration: underline;
  color: #000000;
}

.lesson {
  padding-bottom: 10px;
  margin-left: 30px;
  font-weight: bold;
  text-align: left;
  font-size: 30px;
  font-family: cursive;
  color: #18F127;
}

#module {
  position: absolute;
  left: 50%;
}

.lab label {
  position: absolute;
  left: 83%;
  color: white;
}


.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

.fa-times:hover {
  color: #8491a5;
  background-color: #ccd9ea;
  transition: 0.3s ease-in-out;
}

#register-form {
  width: 100%;
}

#register-form h2 {
  color: #000000;
  font-weight: bold;
  font-size: 44px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#register-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

.border-wrapper {
  border-bottom: 1px solid #000;
  padding-bottom: 700px;
}

footer img {
  width: 125px;
  margin-bottom: 5px;
}

footer p {
  color: #b3aeb5;
  font-size: 16px;
  font-family: monospace;
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(218, 247, 166, 0.9);
}
